* {
    /* max-width: 90%; */
    margin: 5px auto;
    /* box-sizing: border-box; */
    text-align: center;
}

body {
    background: #fbe13f;
    background: radial-gradient(circle, #fbe13f 0%, #ee8d28 100%);
    /* border-style: groove;
    border-color: #000000; */
    width: 95%
}

main {
    /* margin: 0 auto; */
    /* width: fit-content; */
    /* border-style: groove;
    border-color: #ff0202; */
  }

header p, label, button, h2{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 3px;
}

input {
font-size: large;
}

#header-search-container h1 {
    font-size: 36px;
    font-family: 'Pacifico', Courier;
}

form, button{
    /* width: 50%; */
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    width: fit-content;
}

button {
    /* width: fit-content; */
    background-color: #178b21;
    border-radius: 15%;
}

form {
    width: 50%;
}
  
#header-search-container {
    /* border-style: groove;
    border-color: #7605d3; */
    border-width: 2px;
}

#results {
    /* border-style: groove;
    border-color: #05c215; */
}

#results-list {
    /* border-style: groove;
    border-color: #f5f2f2; */
    /* display: flex; */
    /* flex: column; */
}

iframe {
    height: 700px;
    /* border-style: groove;
    border-color: #e407b4; */
    width:90%;;
    
}

li {
    
    background-color: #e7e7e7;
    border-color: #e2c336;
    border-style:groove ;
    border-width: 3px;
    border-radius: 2%;
    list-style: none;
    padding-left: 5px;
  }

.hidden {
    display: none;
}


button:active {background-color: #ff0000;}


/* Desktop Layout */

@media all and (min-width: 700px){
    * {
        width: 90%
    }

main {
    width: 100%
}

#header-search-container h1 {
    font-size: 48px;
    letter-spacing: .5em;
}

iframe {
    width: 80%
}